-- Example 0
XCYAZTX

Possible
-- Example 1
CTA

Impossible
-- Example 2
ACBBAT

Impossible
-- Example 3
SGHDJHFIOPUFUHCHIOJBHAUINUIT

Possible
-- Example 4
CCCATT

Impossible
-- Example 4
TCCCAAA

Impossible
-- Example 4
CATCAT

Impossible
-- Example 4
CAT

Possible
-- Example 4
CATTTTTTTTTTTTTTT

Impossible
-- Example 4
TAC

Impossible
-- Example 4
FFFCFARRTEE

Possible