-- Example 0
3
NNY
NNY
YYN

1
-- Example 1
5
NNNNN
NNYYY
NYNYY
NYYNY
NYYYN

-1
-- Example 2
6
NNYYNN
NNNNYY
YNNNYN
YNNNNY
NYYNNN
NYNYNN

2
-- Example 3
9
NNYNNNNYN
NNNNYNYNN
YNNYNYNNN
NNYNYNYYN
NYNYNNNNY
NNYNNNYNN
NYNYNYNNN
YNNYNNNNY
NNNNYNNYN

3
-- Example 4
2
NY
YN

0
