-- Example 0
TOPCODER
3

CODTEPOR
-- Example 1
ESPRIT
3

EIPRST
-- Example 2
BAZINGA
8

AABGINZ
-- Example 3
ABCDEFGHIJKLMNOPQRSTUVWXYZ
9

ABCDEFGHIJKLMNOPQRSTUVWXYZ
-- Example 4
GOODLUCKANDHAVEFUN
7

CADDGAHEOOFLUKNNUV
-- Example 5
AAAWDIUAOIWDESBEAIWODJAWDBPOAWDUISAWDOOPAWD
6

AAAADDEIBWAEUIODWADSBIAJWODIAWDOPOAWDUOSPWW
-- Example 6
ABRACADABRA
2

AABARACBDAR
