-- Example 0
5
W.WSS
WW.S.
.SSS.
SSS.S
.SS.S

2
-- Example 1
3
.....
.....
.....

0
-- Example 2
4
.SS
...
S..
W.W

1
-- Example 3
3
WWWSWWSSWWW
WWSWW.SSWWW
WS.WSWWWWS.

10
-- Example 4
8
.W.S.W.W
W.W.S.W.
.S.S.W.W
S.S.S.W.
.S.W.W.S
S.S.W.W.
.W.W.W.S
W.W.S.S.

7
-- Example 5
14
W.SSWWSSSW.SS
.SSSSW.SSWWWW
.WWWWS.WSSWWS
SS.WSS..W.WWS
WSSS.SSWS.W.S
WSS.WS...WWWS
S.WW.S.SWWWSW
WSSSS.SSW...S
S.WWSW.WWSWSW
.WSSS.WWSWWWS
..SSSS.WWWSSS
SSWSWWS.W.SSW
S.WSWS..WSSS.
WS....W..WSS.

24
-- Example 6
6
WW..SS
WW..SS
......
......
SS..WW
SS..WW

2
