-- Example 0
ABRACADABRA
5

AAAAA
-- Example 1
ESPRIT
3

EIP
-- Example 2
BAZINGA
7

AABGINZ
-- Example 3
ABCDEFGHIJKLMNOPQRSTUVWXYZ
13

ABCDEFGHIJKLM
-- Example 4
GOODLUCKANDHAVEFUN
10

AACDDEFGHK
-- Example 5
AAAWDIUAOIWDESBEAIWODJAWDBPOAWDUISAWDOOPAWD
21

AAAAAAAAABBDDDDDDDEEI
-- Example 6
TOPCODER
3

CDT
