-- Example 0
4
b..$
....
HHHH
HHHH

2
-- Example 1
15
............H..
...............
...............
HHH$HHH.....H..
HHHHHHH........
HHHHHHHH.......
......b..H.....
...............
...............
...H..H..H.....
...............
...............
...............
...............
...............

0
-- Example 2
15
............H..
...............
...............
HHH$HHH........
HHHHHHH........
HHHHHHHH.......
......b..H.....
...............
...............
...H..H..H.....
...............
...............
...............
...............
...............

1
-- Example 3
7
b..$...
...H...
.......
b..b..b
...H...
.......
b..b..b

4
-- Example 4
7
b..b..b
..b..b.
.......
b..$bbb
.b.....
....b..
b..b..b

-1
